In [48]:
# import libraries
import yfinance as yf
import pandas as pd
import numpy as np
import plotly.graph_objects as go # for candlestick chart
import matplotlib.pyplot as plt
import seaborn as sns
from scipy import stats
import sys
import os
from sqlalchemy import create_engine, text
from utils.config_utils import load_config

sys.path.append(os.path.abspath('../src'))  # Add src directory to path

# Get database configuration using the correct path to config.yaml
config = load_config("../config.yaml")  # Go up one directory to find config.yaml
db_config = config['database']

In [49]:
# Create SQLAlchemy engine
engine = create_engine(f"postgresql://{db_config['user']}:{db_config['password']}@"
                      f"{db_config['host']}:{db_config['port']}/{db_config['dbname']}")

# Read into pandas DataFrames using SQLAlchemy 
with engine.connect() as connection:
    stocks_df = pd.read_sql_query(text("SELECT * FROM stocks_data"), connection)
    indices_df = pd.read_sql_query(text("SELECT * FROM indices_data"), connection)


print("\nStocks DataFrame Info:")
print(stocks_df.info())

print("\nIndices DataFrame Info:")
print(indices_df.info())

Stocks DataFrame Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25501 entries, 0 to 25500
Data columns (total 8 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   datetime   25494 non-null  datetime64[ns]
 1   open       25494 non-null  float64
 2   high       25494 non-null  float64
 3   low        25494 non-null  float64
 4   close      25494 non-null  float64
 5   adj_close  25494 non-null  float64
 6   volume     25494 non-null  float64
 7   symbol     25501 non-null  object
dtypes: datetime64[ns](1), float64(6), object(1)
memory usage: 1.6+ MB
None

Indices DataFrame Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13095 entries, 0 to 13094
Data columns (total 8 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   datetime   13091 non-null  datetime64[ns]
 1   open       13091 non-null  float64
 2   high       13091 non-null  float64
 3   low        13091 non-null  float64
 4   close      13091 non-null  float64
 5   adj_close  13091 non-null  float64
 6   volume     13091 non-null  float64
 7   symbol     13095 non-null  object
dtypes: datetime64[ns](1), float64(6), object(1)
memory usage: 818.6+ KB
None

In [50]:
display(stocks_df)

,datetime,open,high,low,close,adj_close,volume,symbol
0,NaT,NaN,NaN,NaN,NaN,NaN,NaN,AAPL
1,2010-01-04,7.622500,7.660714,7.585000,7.643214,6.447412,493729600.0,AAPL
2,2010-01-05,7.664286,7.699643,7.616071,7.656429,6.458559,601904770.0,AAPL
3,2010-01-06,7.656429,7.686786,7.526786,7.534643,6.355827,552160000.0,AAPL
4,2010-01-07,7.562500,7.571429,7.466071,7.520714,6.344078,477131200.0,AAPL
...,...,...,...,...,...,...,...,...
25496,2024-11-12,342.740000,345.840000,323.310000,328.490000,328.490000,155726000.0,TSLA
25497,2024-11-13,335.850000,344.600000,322.500000,330.240000,330.240000,125405600.0,TSLA
25498,2024-11-14,327.690000,329.980000,310.370000,311.180000,311.180000,120726096.0,TSLA
25499,2024-11-15,310.570000,324.680000,309.220000,320.720000,320.720000,114440304.0,TSLA
25500,2024-11-18,340.730000,348.550000,330.010000,338.740000,338.740000,126085600.0,TSLA

In [51]:
stocks_df.dtypes

datetime     datetime64[ns]
open                float64
high                float64
low                 float64
close               float64
adj_close           float64
volume              float64
symbol               object
dtype: object

In [52]:
stocks_df.isna().sum() # the reason might be the process of adding data to the database

datetime     7
open         7
high         7
low          7
close        7
adj_close    7
volume       7
symbol       0
dtype: int64

In [53]:
# 1. Get total count of NaN values in each column
print("NaN count in each column:")
print(stocks_df.isna().sum())

# 2. Get percentage of NaN values in each column
print("\nPercentage of NaN values in each column:")
print((stocks_df.isna().sum() / len(stocks_df)) * 100)

# 3. Show rows with any NaN values
print("\nSample of rows containing NaN values:")
print(stocks_df[stocks_df.isna().any(axis=1)].head())

# 4. Count of rows with NaN values
print("\nTotal rows with any NaN value:")
print(stocks_df.isna().any(axis=1).sum())

# 5. Check NaN values by symbol
print("\nNaN values by symbol:")
for symbol in stocks_df['symbol'].unique():
    symbol_df = stocks_df[stocks_df['symbol'] == symbol]
    print(f"\n{symbol}:")
    print(symbol_df.isna().sum())

# 6. Detailed info about the DataFrame
print("\nDataFrame Info:")
print(stocks_df.info())

NaN count in each column:
datetime     7
open         7
high         7
low          7
close        7
adj_close    7
volume       7
symbol       0
dtype: int64

Percentage of NaN values in each column:
datetime     0.02745
open         0.02745
high         0.02745
low          0.02745
close        0.02745
adj_close    0.02745
volume       0.02745
symbol       0.00000
dtype: float64

Sample of rows containing NaN values:
    datetime  open  high  low  close  adj_close  volume symbol
0        NaT   NaN   NaN  NaN    NaN        NaN     NaN   AAPL
95       NaT   NaN   NaN  NaN    NaN        NaN     NaN   AMZN
190      NaT   NaN   NaN  NaN    NaN        NaN     NaN   AVGO
285      NaT   NaN   NaN  NaN    NaN        NaN     NaN   META
379      NaT   NaN   NaN  NaN    NaN        NaN     NaN   MSFT

Total rows with any NaN value:
7

NaN values by symbol:

AAPL:
datetime     1
open         1
high         1
low          1
close        1
adj_close    1
volume       1
symbol       0
dtype: int64

AMZN:
datetime     1
open         1
high         1
low          1
close        1
adj_close    1
volume       1
symbol       0
dtype: int64

AVGO:
datetime     1
open         1
high         1
low          1
close        1
adj_close    1
volume       1
symbol       0
dtype: int64

META:
datetime     1
open         1
high         1
low          1
close        1
adj_close    1
volume       1
symbol       0
dtype: int64

MSFT:
datetime     1
open         1
high         1
low          1
close        1
adj_close    1
volume       1
symbol       0
dtype: int64

NVDA:
datetime     1
open         1
high         1
low          1
close        1
adj_close    1
volume       1
symbol       0
dtype: int64

TSLA:
datetime     1
open         1
high         1
low          1
close        1
adj_close    1
volume       1
symbol       0
dtype: int64

DataFrame Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25501 entries, 0 to 25500
Data columns (total 8 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   datetime   25494 non-null  datetime64[ns]
 1   open       25494 non-null  float64
 2   high       25494 non-null  float64
 3   low        25494 non-null  float64
 4   close      25494 non-null  float64
 5   adj_close  25494 non-null  float64
 6   volume     25494 non-null  float64
 7   symbol     25501 non-null  object
dtypes: datetime64[ns](1), float64(6), object(1)
memory usage: 1.6+ MB
None

* kayıp verilerin dataları birbiri ardına eklerken oluştuğunu düşünüyorum
* AAPL, MSFT, NVDA has 6 missing values while AMZN, AVGO and META has 1 missing value

## Basic summary statistics

In [54]:
# Calculate and display summary statistics for each symbol
for symbol in stocks_df['symbol'].unique():
    symbol_data = stocks_df[stocks_df['symbol'] == symbol]
    print(f"\nSummary Statistics for {symbol}:")
    print(symbol_data.describe())
    print("-" * 80)

Summary Statistics for AAPL:
              open         high          low        close    adj_close  \
count  3745.000000  3745.000000  3745.000000  3745.000000  3745.000000
mean     68.358177    69.078041    67.672518    68.407055    66.225740
std      63.641842    64.316861    63.017848    63.702540    64.043381
min       6.870357     7.000000     6.794643     6.858929     5.785831
25%      20.414286    20.540714    20.228930    20.410713    17.405085
50%      36.885000    37.207500    36.505000    36.982500    34.727190
75%     127.210000   128.460000   125.870000   126.900000   124.682526
max     236.480000   237.490000   234.450000   236.480000   236.220110

             volume
count  3.745000e+03
mean   2.313459e+08
std    2.183010e+08
min    2.404830e+07
25%    8.614160e+07
50%    1.417080e+08
75%    3.100692e+08
max    1.880998e+09
--------------------------------------------------------------------------------

Summary Statistics for AMZN:
              open         high          low        close    adj_close  \
count  3745.000000  3745.000000  3745.000000  3745.000000  3745.000000
mean     70.325951    71.125240    69.450460    70.307283    70.307283
std      59.999405    60.679737    59.245614    59.964781    59.964781
min       5.296500     5.564500     5.290000     5.430500     5.430500
25%      14.934500    15.093000    14.766500    14.921000    14.921000
50%      48.005500    48.389500    47.710000    48.028500    48.028500
75%     118.580000   120.390000   116.500000   118.635500   118.635500
max     214.160000   215.900000   210.880000   214.100000   214.100000

             volume
count  3.745000e+03
mean   8.358012e+07
std    5.170579e+07
min    1.762600e+07
25%    5.272800e+07
50%    7.029800e+07
75%    9.888000e+07
max    8.484220e+08
--------------------------------------------------------------------------------

Summary Statistics for AVGO:
              open         high          low        close    adj_close  \
count  3745.000000  3745.000000  3745.000000  3745.000000  3745.000000
mean     31.484635    31.907075    31.042540    31.489859    28.958172
std      36.786370    37.341259    36.177561    36.769332    36.886411
min       1.676000     1.694000     1.650000     1.680000     1.197343
25%       4.185000     4.259000     4.142000     4.187000     3.135514
50%      22.015000    22.226000    21.774000    22.004000    17.741135
75%      45.094000    45.810000    44.533000    45.050000    41.714672
max     183.959000   186.420000   182.530000   185.950000   185.950000

             volume
count  3.745000e+03
mean   2.588505e+07
std    2.043513e+07
min    1.402000e+06
25%    1.592700e+07
50%    2.158100e+07
75%    3.004450e+07
max    5.602800e+08
--------------------------------------------------------------------------------

Summary Statistics for META:
              open         high          low        close    adj_close  \
count  3146.000000  3146.000000  3146.000000  3146.000000  3146.000000
mean    181.732692   184.068013   179.450559   181.805610   181.318863
std     124.600040   126.112655   123.062106   124.610149   124.401674
min      18.080000    18.270000    17.550000    17.730000    17.676779
25%      86.875000    87.955000    85.722500    87.197500    86.935747
50%     164.720000   166.865000   162.205000   164.765000   164.270410
75%     237.560000   240.382500   232.725000   237.075000   236.363345
max     600.980000   602.950000   589.960000   595.940000   595.940000

             volume
count  3.146000e+03
mean   2.950301e+07
std    2.583444e+07
min    5.467500e+06
25%    1.556722e+07
50%    2.183435e+07
75%    3.368685e+07
max    5.735764e+08
--------------------------------------------------------------------------------

Summary Statistics for MSFT:
              open         high          low        close    adj_close  \
count  3745.000000  3745.000000  3745.000000  3745.000000  3745.000000
mean    133.324499   134.581458   131.998379   133.351116   127.738972
std     122.163794   123.264028   120.950050   122.158247   123.060974
min      23.090000    23.320000    22.730000    23.010000    17.517588
25%      34.750000    35.090000    34.520000    34.850000    28.788550
50%      69.730000    70.210000    69.180000    69.900000    64.226240
75%     231.530000   234.830000   228.730000   231.650000   225.364870
max     467.000000   468.350000   464.460000   467.560000   466.718780

             volume
count  3.745000e+03
mean   3.628097e+07
std    2.087175e+07
min    7.425600e+06
25%    2.273310e+07
50%    3.033800e+07
75%    4.431890e+07
max    3.193179e+08
--------------------------------------------------------------------------------

Summary Statistics for NVDA:
              open         high          low        close    adj_close  \
count  3745.000000  3745.000000  3745.000000  3745.000000  3745.000000
mean     13.044137    13.282227    12.785956    13.045663    13.017392
std      25.983822    26.451599    25.443911    25.967590    25.972255
min       0.218000     0.226250     0.216250     0.222000     0.203607
25%       0.442500     0.448750     0.434250     0.441500     0.409048
50%       3.425750     3.496250     3.380500     3.434750     3.407339
75%      13.454000    13.652500    13.212500    13.418000    13.381001
max     149.070000   149.770000   146.260000   148.880000   148.880000

             volume
count  3.745000e+03
mean   4.991979e+08
std    3.065780e+08
min    4.564400e+07
25%    3.064359e+08
50%    4.299320e+08
75%    6.048560e+08
max    3.692928e+09
--------------------------------------------------------------------------------

Summary Statistics for TSLA:
              open         high          low        close    adj_close  \
count  3623.000000  3623.000000  3623.000000  3623.000000  3623.000000
mean     79.027405    80.756739    77.187999    79.011069    79.011069
std     104.291979   106.608062   101.777133   104.224152   104.224152
min       1.076000     1.108667     0.998667     1.053333     1.053333
25%      11.934667    12.244667    11.678667    11.932333    11.932333
50%      17.763332    18.061333    17.473333    17.784666    17.784666
75%     174.810000   178.270000   172.025000   174.895000   174.895000
max     411.470000   414.496670   405.666660   409.970000   409.970000

             volume
count  3.623000e+03
mean   9.677020e+07
std    7.800012e+07
min    1.777500e+06
25%    4.866000e+07
50%    8.203590e+07
75%    1.225151e+08
max    9.140820e+08
--------------------------------------------------------------------------------

In [55]:
# Calculate and display summary statistics for each symbol
for symbol in stocks_df['symbol'].unique():
    symbol_data = stocks_df[stocks_df['symbol'] == symbol]
    print(f"\nSummary Statistics for {symbol}:")
    print(symbol_data.info())
    print("-" * 80)

Summary Statistics for AAPL:
<class 'pandas.core.frame.DataFrame'>
Int64Index: 3746 entries, 0 to 3751
Data columns (total 8 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   datetime   3745 non-null   datetime64[ns]
 1   open       3745 non-null   float64
 2   high       3745 non-null   float64
 3   low        3745 non-null   float64
 4   close      3745 non-null   float64
 5   adj_close  3745 non-null   float64
 6   volume     3745 non-null   float64
 7   symbol     3746 non-null   object
dtypes: datetime64[ns](1), float64(6), object(1)
memory usage: 263.4+ KB
None
--------------------------------------------------------------------------------

Summary Statistics for AMZN:
<class 'pandas.core.frame.DataFrame'>
Int64Index: 3746 entries, 95 to 7496
Data columns (total 8 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   datetime   3745 non-null   datetime64[ns]
 1   open       3745 non-null   float64
 2   high       3745 non-null   float64
 3   low        3745 non-null   float64
 4   close      3745 non-null   float64
 5   adj_close  3745 non-null   float64
 6   volume     3745 non-null   float64
 7   symbol     3746 non-null   object
dtypes: datetime64[ns](1), float64(6), object(1)
memory usage: 263.4+ KB
None
--------------------------------------------------------------------------------

Summary Statistics for AVGO:
<class 'pandas.core.frame.DataFrame'>
Int64Index: 3746 entries, 190 to 11241
Data columns (total 8 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   datetime   3745 non-null   datetime64[ns]
 1   open       3745 non-null   float64
 2   high       3745 non-null   float64
 3   low        3745 non-null   float64
 4   close      3745 non-null   float64
 5   adj_close  3745 non-null   float64
 6   volume     3745 non-null   float64
 7   symbol     3746 non-null   object
dtypes: datetime64[ns](1), float64(6), object(1)
memory usage: 263.4+ KB
None
--------------------------------------------------------------------------------

Summary Statistics for META:
<class 'pandas.core.frame.DataFrame'>
Int64Index: 3147 entries, 285 to 14387
Data columns (total 8 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   datetime   3146 non-null   datetime64[ns]
 1   open       3146 non-null   float64
 2   high       3146 non-null   float64
 3   low        3146 non-null   float64
 4   close      3146 non-null   float64
 5   adj_close  3146 non-null   float64
 6   volume     3146 non-null   float64
 7   symbol     3147 non-null   object
dtypes: datetime64[ns](1), float64(6), object(1)
memory usage: 221.3+ KB
None
--------------------------------------------------------------------------------

Summary Statistics for MSFT:
<class 'pandas.core.frame.DataFrame'>
Int64Index: 3746 entries, 379 to 18132
Data columns (total 8 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   datetime   3745 non-null   datetime64[ns]
 1   open       3745 non-null   float64
 2   high       3745 non-null   float64
 3   low        3745 non-null   float64
 4   close      3745 non-null   float64
 5   adj_close  3745 non-null   float64
 6   volume     3745 non-null   float64
 7   symbol     3746 non-null   object
dtypes: datetime64[ns](1), float64(6), object(1)
memory usage: 263.4+ KB
None
--------------------------------------------------------------------------------

Summary Statistics for NVDA:
<class 'pandas.core.frame.DataFrame'>
Int64Index: 3746 entries, 474 to 21877
Data columns (total 8 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   datetime   3745 non-null   datetime64[ns]
 1   open       3745 non-null   float64
 2   high       3745 non-null   float64
 3   low        3745 non-null   float64
 4   close      3745 non-null   float64
 5   adj_close  3745 non-null   float64
 6   volume     3745 non-null   float64
 7   symbol     3746 non-null   object
dtypes: datetime64[ns](1), float64(6), object(1)
memory usage: 263.4+ KB
None
--------------------------------------------------------------------------------

Summary Statistics for TSLA:
<class 'pandas.core.frame.DataFrame'>
Int64Index: 3624 entries, 569 to 25500
Data columns (total 8 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   datetime   3623 non-null   datetime64[ns]
 1   open       3623 non-null   float64
 2   high       3623 non-null   float64
 3   low        3623 non-null   float64
 4   close      3623 non-null   float64
 5   adj_close  3623 non-null   float64
 6   volume     3623 non-null   float64
 7   symbol     3624 non-null   object
dtypes: datetime64[ns](1), float64(6), object(1)
memory usage: 254.8+ KB
None
--------------------------------------------------------------------------------

In [56]:
# Calculate and display summary statistics for each symbol
for symbol in stocks_df['symbol'].unique():
    symbol_data = stocks_df[stocks_df['symbol'] == symbol]
    print(f"\nMissing values for {symbol}:")
    print(symbol_data.isna().sum())
    print("-" * 80)

Missing values for AAPL:
datetime     1
open         1
high         1
low          1
close        1
adj_close    1
volume       1
symbol       0
dtype: int64
--------------------------------------------------------------------------------

Missing values for AMZN:
datetime     1
open         1
high         1
low          1
close        1
adj_close    1
volume       1
symbol       0
dtype: int64
--------------------------------------------------------------------------------

Missing values for AVGO:
datetime     1
open         1
high         1
low          1
close        1
adj_close    1
volume       1
symbol       0
dtype: int64
--------------------------------------------------------------------------------

Missing values for META:
datetime     1
open         1
high         1
low          1
close        1
adj_close    1
volume       1
symbol       0
dtype: int64
--------------------------------------------------------------------------------

Missing values for MSFT:
datetime     1
open         1
high         1
low          1
close        1
adj_close    1
volume       1
symbol       0
dtype: int64
--------------------------------------------------------------------------------

Missing values for NVDA:
datetime     1
open         1
high         1
low          1
close        1
adj_close    1
volume       1
symbol       0
dtype: int64
--------------------------------------------------------------------------------

Missing values for TSLA:
datetime     1
open         1
high         1
low          1
close        1
adj_close    1
volume       1
symbol       0
dtype: int64
--------------------------------------------------------------------------------

In [57]:
for symbol in stocks_df['symbol'].unique():
    symbol_data = stocks_df[stocks_df['symbol'] == symbol]
    print(f"\nDuplicated values for {symbol}:")
    print(symbol_data.duplicated().sum())
    print("-" * 80)

Duplicated values for AAPL:
0
--------------------------------------------------------------------------------

Duplicated values for AMZN:
0
--------------------------------------------------------------------------------

Duplicated values for AVGO:
0
--------------------------------------------------------------------------------

Duplicated values for META:
0
--------------------------------------------------------------------------------

Duplicated values for MSFT:
0
--------------------------------------------------------------------------------

Duplicated values for NVDA:
0
--------------------------------------------------------------------------------

Duplicated values for TSLA:
0
--------------------------------------------------------------------------------

In [61]:
stocks_df = stocks_df.dropna()
stocks_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 25494 entries, 1 to 25500
Data columns (total 8 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   datetime   25494 non-null  datetime64[ns]
 1   open       25494 non-null  float64
 2   high       25494 non-null  float64
 3   low        25494 non-null  float64
 4   close      25494 non-null  float64
 5   adj_close  25494 non-null  float64
 6   volume     25494 non-null  float64
 7   symbol     25494 non-null  object
dtypes: datetime64[ns](1), float64(6), object(1)
memory usage: 1.8+ MB

In [62]:
stocks_df

,datetime,open,high,low,close,adj_close,volume,symbol
1,2010-01-04,7.622500,7.660714,7.585000,7.643214,6.447412,493729600.0,AAPL
2,2010-01-05,7.664286,7.699643,7.616071,7.656429,6.458559,601904770.0,AAPL
3,2010-01-06,7.656429,7.686786,7.526786,7.534643,6.355827,552160000.0,AAPL
4,2010-01-07,7.562500,7.571429,7.466071,7.520714,6.344078,477131200.0,AAPL
5,2010-01-08,7.510714,7.571429,7.466429,7.570714,6.386254,447610820.0,AAPL
...,...,...,...,...,...,...,...,...
25496,2024-11-12,342.740000,345.840000,323.310000,328.490000,328.490000,155726000.0,TSLA
25497,2024-11-13,335.850000,344.600000,322.500000,330.240000,330.240000,125405600.0,TSLA
25498,2024-11-14,327.690000,329.980000,310.370000,311.180000,311.180000,120726096.0,TSLA
25499,2024-11-15,310.570000,324.680000,309.220000,320.720000,320.720000,114440304.0,TSLA
25500,2024-11-18,340.730000,348.550000,330.010000,338.740000,338.740000,126085600.0,TSLA